target/
*.class

# IntelliJ IDEA
.idea/
*.iml
out/

# Eclipse
.metadata
bin/
tmp/
*.tmp
*.bak
*.swp
*~.nib
local.properties
.settings/
.loadpath
.recommenders

# Mac
.DS_Store

# Virtual OS specific
virtual_disk.bin
